@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(./font/roboto-v30-latin-regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: url(./font/roboto-v30-latin-100.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url(./font/roboto-v30-latin-300.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url(./font/roboto-v30-latin-700.woff2) format('woff2');
}

@font-face {
    font-family: 'Lilita';
    font-weight: 400;
    src: url(./font/LilitaOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: url('./font/lobster-v30-latin-regular.woff2') format('woff2');
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(./image/background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
}

body::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000003f;
    z-index: -1;
}

.logo {
    margin-right: auto;
    font-size: 3rem;
}

header {
    font-family: 'Lobster';
    padding: 1.5rem 2rem 2rem 2rem;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
}

.titlePart1 {
    color: #fff9db;
}
.titlePart2 {
    color: #e67700;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

form > div {
    position: relative;
}

.inputLocation {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    border-bottom: 3px solid #e67700;
    color: #fff9db;
}

.inputLocation::placeholder {
    color: #fff9db;
    opacity: 0.5;
}

.fa-magnifying-glass {
    color: #e67700;
    font-size: 1.6rem;
}

.inputErrorMsg {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    position: absolute;
    top: 120%;
    opacity: 0;
    background-color: #c92a2a;
    color: white;
}

.hidden {
    transition: opacity 2s ease-in-out;
}

.show {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayContainer {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    width: min(87rem, 80%);
}

.section1.region {
    font-size: 4rem;
    font-family: 'Lilita', sans-serif;
    font-weight: 400;
    padding-bottom: 0.5rem;
    color: #ffffff;
}

.section2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    color: #ffffff;
}

.imgContainer {
    display: flex;
    align-items: center;
    width: max(8rem, 15%);
}

.weather {
    width: 100%;
}

.temperature {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
}

.section2 > div > * {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.section2-btn {
    padding-bottom: 2.5rem;
    white-space: nowrap;
}

.celsius,
.fahrenheit {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: #868e96;
    padding: 0 10px;
}

.celsius {
    border-right: 1px solid white;
    padding-right: 9px;
}

button.active {
    font-weight: 700;
    color: white;
    transform: scale(1.2);
}

.weatherDescription {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.section3 {
    display: flex;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
    color: #ffffff;
}

.section3 > div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.section3 > div > .fa-solid {
    font-size: 4rem;
    min-width: 5rem;
    display: flex;
    justify-content: center;
}

.subHeader {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #e9ecef;
}

.subHeaderData {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    padding: 0.8rem 0;
    text-align: center;
}

.fa-github {
    color: #e67700;
    transition: transform 0.5s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.25);
}

@media (max-width: 1440px) {
    .logo {
        font-size: 2rem;
    }

    .fa-magnifying-glass,
    .inputLocation {
        font-size: 1.2rem;
    }

    .displayContainer {
        padding: 3rem;
        width: min(80rem, 80%);
    }

    .section1.region {
        font-size: 3.5rem;
        padding: 0;
    }

    .section2 {
        gap: 1.5rem;
    }

    .imgContainer {
        width: max(6rem, 15%);
    }

    .temperature {
        font-size: 3.5rem;
    }

    .weatherDescription {
        font-size: 2.5rem;
    }

    .section3 {
        gap: 2rem;
    }

    .subHeaderData {
        font-size: 2.2rem;
    }

    footer {
        padding: 0.4rem 0;
    }
}

@media (max-width: 1024px) {
    .fa-magnifying-glass,
    .inputLocation,
    .inputErrorMsg {
        font-size: 1rem;
    }

    .displayContainer {
        max-width: 70%;
        padding: 1.5rem 2.5rem;
    }

    .section1.region {
        padding-bottom: 0;
        font-size: 3rem;
    }

    .section2 {
        gap: 0.8rem;
    }

    .temperature {
        font-size: 2.7rem;
    }

    .weatherDescription {
        font-size: 2.2rem;
    }

    .section3 {
        flex-direction: column;
        gap: 1.5rem;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .section3 > div > .fa-solid {
        font-size: 3.5rem;
        min-width: 4.375rem;
    }

    .subHeaderData {
        font-size: 1.7rem;
    }
}

@media (max-width: 827px) {
    .section1.region {
        font-size: 2.5rem;
    }
    .temperature {
        font-size: 2.2rem;
    }
    .weatherDescription {
        font-size: 2rem;
    }
    .section3 > div > .fa-solid {
        font-size: 3rem;
        min-width: 3.75rem;
    }

    .subHeaderData {
        font-size: 1.5rem;
    }

    .section2 > div > * {
        font-size: 1.2rem;
    }
}

@media (max-width: 585px) {
    .inputLocation {
        width: 14ch;
    }
}

@media (max-width: 500px) {
    .section1.region {
        font-size: 2.2rem;
    }

    .section2 {
        gap: 0.5rem;
    }

    .temperature {
        font-size: 1.8rem;
    }

    .weatherDescription {
        font-size: 1.5rem;
    }

    .section3 {
        gap: 1rem;
    }

    .subHeader {
        font-size: 1rem;
    }

    .subHeaderData {
        font-size: 1.2rem;
    }

    .section2 > div > * {
        font-size: 1rem;
    }

    .section3 > div > .fa-solid {
        font-size: 2.5rem;
        min-width: 3.125rem;
    }
}

@media (max-width: 430px) {
    .logo {
        font-size: 1.5rem;
    }

    .fa-magnifying-glass,
    .inputLocation,
    .inputErrorMsg {
        font-size: 0.8rem;
    }

    .imgContainer {
        width: max(5rem, 10%);
    }

    .section2 > div > * {
        font-size: 1rem;
    }

    .fahrenheit {
        padding: 0;
        padding-left: 8px;
    }

    .celsius {
        padding: 0;
        padding-right: 8px;
    }

    .section3 {
        gap: 2rem;
    }

    .subHeader {
        font-size: 1.2rem;
    }

    .section3 > div {
        gap: 1rem;
    }

    footer {
        font-size: 0.8rem;
        padding: 0.2rem 0;
    }
}

@media (max-width: 375px) {
    .main {
        padding-top: 0;
    }

    form {
        gap: 5px;
    }

    .inputLocation {
        width: 13ch;
    }

    .displayContainer {
        padding: 1.2rem 2rem;
    }

    .section2 > div > * {
        font-size: 0.8rem;
    }

    .section1.region,
    .temperature {
        font-size: 1.8rem;
    }

    .imgContainer {
        width: max(4rem, 15%);
    }

    .section3 {
        gap: 1rem;
    }

    .subHeader {
        font-size: 1rem;
    }

    .subHeaderData {
        font-size: 1.2rem;
    }

    footer {
        margin-top: 0;
    }
}

@media (max-width: 320px) {
    header {
        padding: 1rem;
    }
    .displayContainer {
        padding: 1.2rem 1.7rem;
    }

    .temperature {
        font-size: 1.5rem;
    }

    .fahrenheit {
        padding-left: 4px;
    }

    .celsius {
        padding-right: 4px;
    }

    .weatherDescription {
        font-size: 1.3rem;
    }
}
